<c:template
    xmlns:c="core"
    name="template_test"
    params="name,count">
    
    <div class="template_test">
        <h1>template_test</h1>
        Hello $name! You have $count new messages.
    </div>

</c:template>